[Desktop Entry]
Type=Application
TryExec=umbrail
Exec=umbrail %F
Name=Umbrail
GenericName=GPX Log Viewer/Editor
MimeType=application/x-gpx+xml;application/gpx+xml;
Icon=umbrail
Terminal=false
Categories=Qt;KDE;Education;Geography;
