[Desktop Entry]
Type=Application
TryExec=navtracks
Exec=navtracks -f %f
Name=NavTracks
GenericName=GPX Track Viewer/Editor
MimeType=application/x-gpx+xml;application/gpx+xml;
Icon=navtracks
Terminal=false
Categories=Qt;KDE;Education;Geography;
