<?xml version="1.0" encoding="UTF-8"?>
<gui name="navtracks"
     version="13"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
  <MenuBar>
    <Menu name="file">
      <Action name="file_save_copy" append="save_merge"/>
      <Action name="file_open_media" append="open_merge"/>
      <Action name="file_save_media" append="save_merge"/>
      <Action name="file_import" append="save_merge"/>
      <Action name="file_add_photo" append="save_merge"/>
      <Action name="file_export" append="save_merge"/>
    </Menu>

    <Menu name="edit">
      <Action name="edit_add_track"/>
      <Action name="edit_add_route"/>
      <Action name="edit_add_folder"/>
      <Action name="edit_add_point"/>
      <Action name="edit_add_waypoint"/>
      <Action name="edit_add_routepoint"/>
      <Action name="edit_delete_track"/>
      <Separator/>
      <Action name="map_move_points"/>
    </Menu>

    <Menu name="data">
      <text>Data</text>
      <Action name="track_expand_all"/>
      <Action name="track_collapse_all"/>
      <Separator/>
      <Action name="map_go_selection"/>
      <Action name="track_play_media"/>
      <Action name="waypoint_status"/>
      <Separator/>
      <Action name="track_split"/>
      <Action name="track_merge"/>
      <Action name="track_move_item"/>
      <Separator/>
      <Action name="track_stop_detect"/>
      <Action name="track_profile"/>
      <Action name="track_statistics"/>
      <Separator/>
      <Action name="track_time_zone"/>
      <Action name="track_properties"/>
    </Menu>

    <Menu name="map">
      <text>Map</text>
      <Action name="map_zoom_in"/>
      <Action name="map_zoom_out"/>
      <Action name="map_zoom_standard"/>
      <Action name="map_go_home"/>
      <Separator/>
      <Action name="map_set_zoom"/>
      <Action name="map_set_home"/>
      <Separator/>
      <Action name="map_show_layers"/>
      <Action name="map_show_overlays"/>
      <Action name="map_select_theme"/>
      <Separator/>
      <Action name="map_save"/>
      <Separator/>
      <Action name="map_open_osm"/>
      <!-- These will only appear if the corresponding build options are set	-->
      <!-- and therefore the actions created in MainWindow::setupActions()	-->
      <Action name="map_open_google"/>
      <Action name="map_open_bing"/>
    </Menu>

    <Menu name="settings">
      <Action name="settings_read_only"/>
    </Menu>

    <Menu name="help">
      <text>Help</text>
      <Action name="help_about_marble" append="about_merge"/>
    </Menu>

  </MenuBar>

  <Menu name="filesview_contextmenu">
    <Action name="map_go_selection"/>
    <Action name="track_play_media"/>
    <Separator/>
    <Action name="waypoint_status"/>
    <Action name="track_properties"/>
  </Menu>

 
  <Menu name="mapview_contextmenu">
    <Action name="map_go_home"/>
    <Action name="map_zoom_standard"/>
    <Separator/>
    <Action name="map_find_address"/>
    <Separator/>
    <Action name="map_add_waypoint"/>
    <Action name="map_add_routepoint"/>
  </Menu>

 
  <ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="file_open"/>
    <Action name="file_save"/>
    <Action name="file_import"/>
    <Action name="file_export"/>
    <Action name="file_add_photo"/>
    <Separator/>
    <Action name="map_move_points"/>
    <Separator/>
    <Action name="map_zoom_in"/>
    <Action name="map_zoom_standard"/>
    <Action name="map_zoom_out"/>
    <Action name="map_go_home"/>
  </ToolBar>

</gui>
