<?xml version="1.0" encoding="UTF-8"?>
<kpartgui name="viewer"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
  <MenuBar>
    <Menu name="file">		<!-- Us/Okular/Gwenview -->
      <Merge/>
    </Menu>

    <Menu name="edit">		<!-- Okular -->
      <Separator/>
    </Menu>

    <Menu name="view">		<!-- Okular/Gwenview -->
      <Separator/>
    </Menu>

    <Menu name="go">		<!-- Okular -->
      <Separator/>
    </Menu>

    <Menu name="bookmarks">	<!-- Okular -->
      <Separator/>
    </Menu>

    <Menu name="tools">		<!-- Okular -->
      <Separator/>
    </Menu>

  </MenuBar>

  <ToolBar name="viewerToolBar" noMerge="1">
    <text>Viewer Toolbar</text>
    <Action name="file_close"/>
    <Separator/>
  </ToolBar>

</kpartgui>
